@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* override fc-variables */
:root {
  --sec: #ff5e7b;
  --sec-hover: #b24156;

  --fc-button-text-color: white;
  --fc-button-bg-color: var(--sec);
  --fc-button-border-color: white;

  --fc-button-hover-bg-color: var(--sec-hover);
  --fc-button-hover-border-color: white;

  --fc-button-active-bg-color: var(--sec);
  --fc-button-active-border-color: white;
}
